.img {
    background-image: url('/public/assets/loginImage/img_lg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 940px) {
    .img {
        background-image: url('/public/assets/loginImage/img_md.svg');
    }
}

@media screen and (max-width: 640px) {
    .img {
        background-image: url('/public/assets/loginImage/img_sm.svg');
        height: 205px;
    }
}